/***********Formatação da borda***********/

.borda {
    border: 4px solid #32B72F;
    box-sizing: border-box;
}

.borda ion-icon {
    opacity: 1;
}

/***********Formatação do botão***********/

.ativarBotao {
    background-color: #32B72F;
    font-weight: bold;
}


/***********Formatação da telinha do bõnus***********/

.bonus {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px;
}

.confirmar-pedido {
    background-color: #50D074;
    max-width: 480px;
    width: 100%;
    font-size: 22px;
    color: white;
    padding: 24px;
    padding-bottom: 10px;
    border-radius: 9px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
}

.confirmar-pedido .titulo {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.confirmar-pedido ul li {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
}

.confirmar-pedido ul li.total {
    font-weight: bold;
    text-transform: uppercase;
}

.confirmar-pedido button {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: none;
    font-weight: bold;
}

.confirmar-pedido .confirmar {
    background-color: white;
    color: #50D074;
    font-size: 22px;
    height: 52px;
    border-radius: 100px;
}

.confirmar-pedido .cancelar {
    color: white;
    background-color: transparent;
    font-size: 20px;
    margin-top: 10px;
}

.display-none {
    display: none;
}