body {
    background-color: #E5E5E5;
}

* {
    box-sizing: border-box;
}

/*********************Formatações que vão se repetir em todos os elementos********************/

h1 {
    font-family: 'Righteous', cursive;

    color: black;

    font-style: normal;
    font-weight: 400;
    font-size: 26px;

    margin-top: 30px;
    margin-bottom: 17px;
    margin-left: 19px;
}

h2 {
    font-family: 'Roboto', sans-serif;

    color: #333333;

    font-weight: 700;
    font-size: 16px;

    margin: 8px 18px 10px 14px;
}

p {
    font-family: 'Roboto', sans-serif;

    color: #A6A6A6;

    font-size: 15px;
    font-weight: 300;

    margin: 0px 11px 5px 14px;
}

h3 {
    font-family: 'Roboto', sans-serif;

    color: #000000;

    font-size: 16px;
    font-weight: 400;

    margin: 10px 11px 13px 14px;
}

img {
    width: 144px;
    height: 87px;

    border-radius: 4px;

    margin: 18px 14px 8px 14px;
}

/*********************Formatação do cabeçalho********************/

.cabecalho {
    background-color: #CF2B2B;

    width: 100%;
    height: 92px;

    display: flex;
    flex-direction: column;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    position: fixed;
    top: 0;
    left: 0;

    z-index: 2;
}

.cabecalho h1 {
    color: #FFFFFF;

    font-size: 44px;
    font-weight: 400;
    line-height: 55px;

    margin-top: 8px;
    margin-bottom: 0;
    margin-left: 21px;
}

.cabecalho p {
    color: #FFFFFF;

    font-size: 18px;
    font-weight: 400;

    margin-left: 21px;
    margin-bottom: 18px;
}

/*********************Formatação do conteúdo********************/

.conteudo-principal {
    width: 100%;

    overflow: hidden;

    margin-top: 92px;
    margin-bottom: 110px;
}

/***********Formatação dos pratos**********/

.categoria-prato {
    width: 100%;
}

.menu-prato {
    width: 100%;

    display: flex;

    overflow-x: scroll;
}

.menu-prato::-webkit-scrollbar {
    display: none;
}

.prato-um {
    background-color: #FFFFFF;

    width: 172px;
    height: auto;

    border-radius: 9px;

    margin-right: 19px;
    margin-left: 19px;

    box-shadow: 10px 0px 5px -5px rgba(0, 0, 0, 0.25);

    position: relative;
}

.prato-dois {
    background-color: #FFFFFF;

    width: 172px;
    height: auto;

    border-radius: 9px;

    margin-right: 19px;
    margin-left: 19px;

    box-shadow: 10px 0px 5px -5px rgba(0, 0, 0, 0.25);

    position: relative;
}

.prato-tres {
    background-color: #FFFFFF;

    width: 172px;
    height: auto;

    border-radius: 9px;

    margin-right: 19px;
    margin-left: 19px;

    box-shadow: 10px 0px 5px -5px rgba(0, 0, 0, 0.25);

    position: relative;
}

.menu-prato ion-icon {
    font-size: 20px;

    color: #32B72F;

    opacity: 0;

    position: absolute;

    right: 5px;
    bottom: 5px;
}

/***********Formatação das bebidas**********/

.categoria-bebida {
    width: 100%;
}

.menu-bebida {
    width: 100%;

    display: flex;

    overflow-x: scroll;
}

.menu-bebida::-webkit-scrollbar {
    display: none;
}

.bebida-um {
    background-color: #FFFFFF;

    width: 172px;
    height: auto;

    border-radius: 9px;

    margin-right: 19px;
    margin-left: 19px;

    box-shadow: 10px 0px 5px -5px rgba(0, 0, 0, 0.25);

    position: relative;
}

.bebida-dois {
    background-color: #FFFFFF;

    width: 172px;
    height: auto;

    border-radius: 9px;

    margin-right: 19px;
    margin-left: 19px;

    box-shadow: 10px 0px 5px -5px rgba(0, 0, 0, 0.25);

    position: relative;
}

.bebida-tres {
    background-color: #FFFFFF;

    width: 172px;
    height: auto;

    border-radius: 9px;

    margin-right: 19px;
    margin-left: 19px;

    box-shadow: 10px 0px 5px -5px rgba(0, 0, 0, 0.25);

    position: relative;
}

.menu-bebida ion-icon {
    font-size: 20px;

    color: #32B72F;

    opacity: 0;

    position: absolute;

    right: 5px;
    bottom: 5px;
}

/***********Formatação das sobremesas**********/

.categoria-sobremesa {
    width: 100%;
}

.menu-sobremesa {
    width: 100%;

    display: flex;

    overflow-x: scroll;
}

.menu-sobremesa::-webkit-scrollbar {
    display: none;
}

.sobremesa-um {
    background-color: #FFFFFF;

    width: 172px;
    height: auto;

    border-radius: 9px;

    margin-right: 19px;
    margin-left: 19px;

    box-shadow: 10px 0px 5px -5px rgba(0, 0, 0, 0.25);

    position: relative;
}

.sobremesa-dois {
    background-color: #FFFFFF;

    width: 172px;
    height: auto;

    border-radius: 9px;

    margin-right: 19px;
    margin-left: 19px;

    box-shadow: 10px 0px 5px -5px rgba(0, 0, 0, 0.25);

    position: relative;
}

.sobremesa-tres {
    background-color: #FFFFFF;

    width: 172px;
    height: auto;

    border-radius: 9px;

    margin-right: 19px;
    margin-left: 19px;

    box-shadow: 10px 0px 5px -5px rgba(0, 0, 0, 0.25);

    position: relative;
}

.menu-sobremesa ion-icon {
    font-size: 20px;

    color: #32B72F;

    opacity: 0;

    position: absolute;

    right: 5px;
    bottom: 5px;
}

/*********************Formatação do rodapé********************/

.rodape {
    background-color: #FFFFFF;

    width: 100%;
    height: 92px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 0;
    left: 0;

    z-index: 1;
}

.botao {
    width: 364px;
    height: 61px;

    border-radius: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #FFFFFF;

    font-size: 20px;
    font-weight: 400;

    border: none;

    background-color: #CBCBCB;
}